<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DocAssist WebApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-custom {
            background-color: #d3deed;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light navbar-custom">
    <div class="container">
        <span class="navbar-brand mb-0 h1">DocAssist WebApp</span>
    </div>
</nav>
<div class="container">
    <h2>Update Client</h2>
     <form th:action="@{/registration/update/{id}(id=${client.id})}" th:object="${client}" method="post" class="needs-validation" novalidate>
         <div class="mb-3" th:if="${client.id != null}">
             <label for="id" class="form-label">ID:</label>
             <input type="text" class="form-control" th:field="*{id}" id="id" readonly>
         </div>
         <div class="mb-3">
            <label for="firstName" class="form-label">First Name:</label>
            <input type="text" class="form-control" th:field="*{firstName}" id="firstName" required>
             <div class="invalid-feedback">
                 Please add your first name.
             </div>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" class="form-control" th:field="*{lastName}" id="lastName" required>
            <div class="invalid-feedback">
                Please add your last name.
            </div>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age:</label>
            <input type="number" class="form-control" th:field="*{age}" id="age" required>
            <div class="invalid-feedback">
                How old are you?
            </div>
        </div>
         <div class="mb-3">
             <label for="email" class="form-label">Email:</label>
             <input type="email" class="form-control" th:field="*{email}" id="email" name="email" required>
             <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                 Invalid email address
             </div>
         </div>
         <div class="mb-3">
             <label for="phonenumber" class="form-label">Phone Number:</label>
             <input type="tel" class="form-control" th:field="*{phonenumber}" id="phonenumber" name="phonenumber" pattern="^\+36(30|70|20)\d{7}$">
             <div class="invalid-feedback">
                 Please add your valid phone number.
             </div>
         </div>
        <div class="mb-3">
            <label for="problem" class="form-label">Problem:</label>
            <input type="text" class="form-control" th:field="*{problem}" id="problem" required>
            <div class="invalid-feedback">
                Please add the real problem?
            </div>
        </div>
         <div class="mb-3" th:if="${client.registrationDate != null}">
             <label for="registrationDate" class="form-label">Registration Date:</label>
             <input type="text" class="form-control" th:field="*{registrationDate}" id="registrationDate" readonly>
         </div>



         <button type="submit" class="btn btn-primary">Update</button>
        <a href="/registration/list" class="btn btn-danger">Cancel</a>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
